@custom-selector :--heading h1, h2, h3;
      
:--heading {
  background-color: brown;
  color: azure;
  margin: 0;

  & small:matches(:first-child, .special) {
    background-color: blue;
    color: red;
  }

  & small:first-child {
    font-size: 14px;
  }
}
